# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Visual Studio / Windows IDE related
.vs/
*.suo
*.user
*.userossc
*.sln
*.vcxproj
*.filters

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android/Gradle related
**/android/app/build/
**/android/captures/
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/*.keystore
**/android/*.jks

# iOS/XCode related
**/ios/Flutter/App.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Windows related
windows/flutter/ephemeral/

# Linux related
linux/flutter/ephemeral/

# macOS related
macos/Flutter/ephemeral/

# Custom Ignore
bin/
obj/
installer/
*.db
*.sqlite
.metadata
devtools_options.yaml
nuget.exe

# Tests
test/
